@media screen and (max-width: 768px) {

	body {
    	width: 85%;
  		}
      	
	.container {
        flex-direction: column;
        text-align: center; /* optional, looks nicer */
      }

  	.text, .image {
    	flex: 0 0 100%;           /* full width for both */
  	}
    

  	footer {
    	width: 85%;
  	}

  	.box {
    	width: 100%;
    	margin-left: 0%;
    	margin-right: 0%;
  	}
}
